.accountDetails {
    background-color: #111111;
    padding: 25px 25px 10px 25px;
    flex: 1;
    flex-basis: 365px;
    text-align: center
}

.accountDetails p {
    color: #9E9E9E;
}

.accountDetails span {
    color: #FF8D29;
}