.question {
    cursor: pointer;
    background-color: #222222;
    border: 2px solid white;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 30px;
    box-shadow: 2px 4px black;
}

.faq p {
    margin: 0px;
}

.answer {
    /* visibility: hidden; */
    /* opacity: 0; */
    /* transition-delay: 1s; */
    border-top: 2px dotted white;
    transition: visibility 1s, opacity 1s linear, display 1s;
    background-color: #222222;
    padding: 8px;
    margin-top: 10px;
}