* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: black;
    /* font-family: "sans-serif"; */
    font-family: "Roboto";
    line-height: 1.3;
    color: black;
}

main,
header,
section,
aside,
article,
nav,
footer {
    display: flex;
    gap: 10px;
}

body {
    background-color: #333333
}

a {
    text-decoration: none;
    color: white;
    /* color: #0978c6; */
    /* color: #0978c6 */
}

p {
    color: white;
    margin-bottom: 15px;
}

h1,
h2,
h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #9E9E9E;
}

#app {
    width: 100%;
    box-sizing: border-box;
    margin: 0px auto;
    text-align: justify;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    padding: 0px 4%;
    flex-grow: 1;
}

header,
.sperator,
.footerDiv,
.bannerdiv {
    flex-shrink: 0;
}