    #packages {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 15px;
        gap: 15px;
    }
    
    strong {
        color: #FF8D29;
    }
    
    #packages h3 {
        text-align: center;
        margin: 0px;
        margin-bottom: 15px;
        color: #9E9E9E;
    }
    
    .flip-card-front {
        padding: 20px;
        flex: 1;
        margin-top: 15px;
        flex-basis: 300px;
        background-color: #222222;
        color: black;
        justify-content: center;
    }
    
    #jionButton {
        color: black;
        padding: 10px;
        background-color: white;
        border-radius: 20px;
        display: block;
        width: 80px;
        text-align: center;
        margin-left: 35%;
        margin-top: 10px;
    }